{% extends "base.html" %}

{% block content %}

<form action="/" method="post">
<table>
    <tbody>
    <tr>
        <td><label>Username</lable></td>
        <td>
            <input type = "text" name = "username" value = "{{username}}"/>
            <span class="error">{{username_error}}</span>
        </td>    
    </tr>
    <tr>
        <td><label>Password</label></td>
        <td>
            <input type = "password" name = "password" />
            <span class="error">{{password_error}}</span>
        </td>
    <tr>
        <td><label>Verify Password</label></td>
        <td>
            <input type = "password" name = "verify" />
            <span class="error">{{verify_error}}</span>
        </td>
    </tr>
    <tr>
        <td><label>Email (optional)</label></td>
        <td>
            <input type = "text" name = "email" value = "{{email}}"/>
            <span class="error">{{email_error}}</span>
        </td>
    </tr>
    <tr>        
        <td><input type = "submit" value = "submit"/></td>
    </tr>
    </tbody>
</table>   
</form>    



{% endblock %}